:root {
    --background: rgba(59, 213, 253, 1);
    --background_opacity: rgba(59, 213, 253, .7);
    --background_opacity1: rgba(59, 213, 253, .9);
    --background_opacity2: rgba(59, 213, 253, .5);
    --green_contrast: rgba(169, 224, 217, 1);
    --text: rgba(235, 248, 232, 1);
    --bg: rgba(5, 0, 30, 1);
    --search_pink: rgba(226, 41, 120, 1);
    --search_pink_opacity: rgba(226, 41, 120, .3);
    --yellow: #f79000;
}

/* .top_chart {
    display: flex;
    margin: 0 auto;
} */

.main_chart {
    max-width: 800px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.top_chart_info_stack {
    display: flex;
    align-items: center;
    position: absolute;
    color: var(--background_opacity);
    border: 2px solid;
    border-color: var(--background);
    padding: 5px;
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
    top: 5rem;
    right: 1rem;
    z-index: 3;
}

.coin_element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    width: 90vw;
    height: 8rem;
    margin: 1.3em auto;
    padding: 5px;
    text-align: left;
    box-shadow: rgba(240, 46, 170, 0.4) 5px -5px, rgba(240, 46, 170, 0.3) 10px -10px, rgba(240, 46, 170, 0.2) 15px -15px;
    border: 2px solid var(--background_opacity1);
    border-radius: 2px;
    position: relative;
    background-color: var(--bg);
}

.coin_element_info_1 {
    background-color: var(--background_opacity2);
    color: var(--bg);
    font-weight: 500;
    border: 1px solid var(--background);
    border-radius: 3px;
    padding: 3px;
    flex-wrap: wrap;
}

.coin_element_info_2 {
    margin-top: 10px;
    border: 1px solid var(--background);
    border-radius: 3px;
    padding: 3px;
}

.coin_element > div {
    overflow: hidden;
    min-width: 85px;
    max-width: 200px;
}

.select_time_btn_container {
    display: flex;
    justify-content: flex-start;
    width: 400px;
    margin: 1.7rem;
}

.select_currency_btn_container {
    width: 250px;
    display: flex;
    justify-content: flex-start;
    margin: auto 1.7rem;
}

 button {
    background-color: transparent;
    color: var(--background);
    border: 1px solid var(--background);
    border-radius: 4px;
    width: 45px;
    height: 25px;
    margin-right: 15px;
}

.show_more_btn {
    margin: 1rem 2em;
    background-color: transparent;
    color: var(--background);
    border: 1px solid var(--background);
    border-radius: 4px;
    width: 90px;
    height: 35px; 
    text-align: center;
}

.coin_search {
    position: relative;
    display: flex;
    width: 70vw;
    color: rgba(235, 248, 232, 1);
    background-color: transparent;
    border-radius: 0;
    font-size: 1rem;
    outline: none;
    border: none;
}

.coin_search:active {
    border: none;
    outline: none;
}

.coin_search_show {
    position: relative;
    display: flex;
    width: 70vw;
    color: rgba(235, 248, 232, 1);
    background-color: var(--bg);
    outline: none;
    border-left: var(--bg);
    border-top: var(--bg);
    border-right: var(--bg);
    border-bottom: 3px solid rgba(226, 41, 120, 1);
    border-radius: 0;
    font-size: 1.3rem;
    padding: 4px;
    margin-bottom: 25px;
    margin-top: 25px;
    transition: 500ms ease-in;
    transform-origin: left;
}

.coin_search_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lastchild {
    text-align: right;
}

.add_watchlist_btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: var(--background);
    font-size: 1.6rem;
    margin-right: .5rem;
}

.watchlist_coin_container_wrapper {
    display: flex;
    flex-direction: column;
}

.watchlist_coin_container {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid var(--text); */
}

.likes_container {
    text-align: center;
    padding: .5rem;
    margin: .5rem;
    border: 1px solid var(--text);
}

.watchlist_coin_element {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--background_opacity);
    color: white;
    box-shadow: rgba(240, 46, 170, 0.4) 5px -5px;

    font-size: .9rem;
    width: 190px;
    height: 190px;
    padding: 10px;
    margin: 5px;
}

.watchlist_coin_element_header {
    display: flex;
    text-align: left;
    justify-content: space-between;
    height: 50px;
}

.watchlist_coin_element_info {
    border: 3px solid var(--bg);
    box-shadow: var(--search_pink) 2px -2px;
    background-color: #f79000;
    color: var(--bg);
    padding: 2px;
    position: relative;
    z-index: 1;
}

.remove_coin_btn {
    border: 2px solid var(--search_pink);
    border-radius: 0;
    background-color: var(--bg);
    color: var(--text);
    font-size: 1rem;
    position: relative;
    width: 50px;
    box-shadow: var(--yellow) 2px -2px;
}

.remove_coin_btn:hover {
    position: relative;
    box-shadow: none;
    top: -2px;
    left: 2px;
    background-color: var(--bg);
    color: var(--search_pink);
    font-weight: 800;
    border: 3px solid;
    cursor: pointer;
}

.chart_container {
    display: flex;
    flex-direction: column-reverse;
}

.coin_list {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.select_btns_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.select_btn {
    margin: 5px;
}

@media (min-width: 767px) {
    .coin_element {
        width: 300px;
        margin: 1.3rem 1rem;
    }
    .chart_container {
        display: flex;
    }
    .coin_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 380px) {
    .add_watchlist_btn {  width: 25px; height: 25px; }
    .coin_element > div {  overflow: hidden;  min-width: 50px; }
}

@media only screen and (max-width: 425px) {
    .coin_element_info_1_icon {
        display: none;
    }
    .top_chart_info_stack {
        display: none;
    }
}