:root {
    --background: rgba(59, 213, 253, 1);
    --background_opacity: rgba(59, 213, 253, .7);
    --green_contrast: rgba(169, 224, 217, 1);
    --text: rgba(235, 248, 232, 1);
    --bg: rgba(5, 0, 30, 1);
    --search_pink: rgba(226, 41, 120, 1);
    --search_pink_opacity: rgba(226, 41, 120, .3);
    --yellow: #f79000;
}

.profile_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid pink;
    margin: 1rem;
    padding: 1rem;
    color: var(--bg);
}

.profile_container_msg {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    /* border: 1px solid pink; */
    margin: 1rem;
    padding: 1rem;
    color: var(--text);
}

.profile_btn {
    width: 100px;
    border-radius: 1px;
}

.profile_btn:hover {
    background-color: var(--background);
    color: var(--bg);
}