.signup_container{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 340px;
    min-height: 250px;
    height: auto;
    align-self: center;
    box-shadow: 3px -3px 3.5px rgba(255,255,255,0.8), -1px 1px 5px rgba(255,255,255,0.8);
    border-radius: 4px;
    background-color:  rgba(42, 26, 71, 0.7);
}

.forgot_container{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 220px;
    align-self: center;
    box-shadow: 3px -3px 3.5px rgba(255,255,255,0.8), -1px 1px 5px rgba(255,255,255,0.8);
    border-radius: 4px;
    background-color:  rgba(42, 26, 71, 0.7);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.signup_container > form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1.5rem;
}

.forgot_container > form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1.5rem;
}

.form > input {
    font-size: 1.3rem;
    border-radius: 4px;
    padding: 7px;
    border-style: none;
    outline: none;
}

.form:focus {
    border: 5px solid greenyellow;
}

.form-errors {
    color: var(--search_pink);
}

.login-options {
    display: flex;
    justify-content: space-evenly;
}

.form-btn {
    font-size: 1.3rem;
    border-radius: 4px;
    border-style: solid;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 120px;
    padding: 15px;
    transition: ease-in;
}

.forgot_form-btn {
    font-size: 1.3rem;
    border-radius: 4px;
    border-style: solid;
    display: flex;
    align-items: center;
    margin: .1em auto;
    justify-content: center;
    width: 220px;
    padding: 15px;
    transition: ease-in;
}

.form-btn:hover {
    background-color: rgba(59, 213, 253, 1);
    color: rgba(5, 0, 30, 1);
}

.forgot_form-btn:hover {
    background-color: rgba(59, 213, 253, 1);
    color: rgba(5, 0, 30, 1);
}

.form_option:hover {
    color: rgba(235, 248, 232, 1);
}

.display_message {
    display: flex;
    margin: auto;
    text-align: center;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 20px;
    color: rgba(235, 248, 232, 1);
}
