.signup_container{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 380px;
    max-height: 520px;
    align-self: center;
    box-shadow: 3px -3px 3.5px rgba(255,255,255,0.8), -1px 1px 5px rgba(255,255,255,0.8);
    border-radius: 4px;
    background-color:  rgba(42, 26, 71, 0.7);
}

/* #002630 BACKGROUDND */
/* #a9e0d9 #8cedc8 #009560 #3bd5fd GREENISH */
/* #e20c34 #bd4525 REDISH */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.signup_container > form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1.5rem;
}

input {
    font-size: 1.3rem;
    border-radius: 4px;
    padding: 7px;
    border-style: none;
}

button {
    font-size: 1.3rem;
    border-radius: 4px;
    border-style: none;
}

.form_option:hover {
    color: rgba(235, 248, 232, 1);
}


