nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: rgba(42, 26, 71, 1);
    align-content: center;
    /* overflow: hidden; */
    z-index: 100;
}

.nav-icons-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    min-width: 300px;
    max-width: 600px;
}

.nav_btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 15px;
    color: rgba(59, 213, 253, 1);
    font-size: 2rem;
}

.nav_btn_active {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 15px;
    color: rgba(235, 248, 232, 1);
    text-shadow: 2px 2px 5px rgba(235, 248, 232, .5);
    font-size: 2rem;
}

.header {
    display: flex;
    height: 3.5rem;
    background-color: rgba(42, 26, 71, 1);
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.header_login_profile {
    position: absolute;
    right: 0;
}

/* #002630 BACKGROUDND */
/* #a9e0d9 #8cedc8 #009560 #3bd5fd GREENISH */
/* #e20c34 #bd4525 REDISH */