* {
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #002630;
    color: #a9e0d9;
}

/* #002630 BACKGROUDND */
/* #a9e0d9 #8cedc8 #009560 #3bd5fd GREENISH */
/* #e20c34 #bd4525 REDISH */